/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  background-color: #F6CED8;
}
body{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.menu-item{
  margin-right: 25px;
  text-align: center;
}
.titulo{
  color: darkred;
  font-size: 24px;
  margin-left: 15%;
}

p{
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
  text-align: left;
  margin-left: 15%;
  width: 50%;
}
nav li{
  display: inline-block;
  padding: 25px;
}
nav a{
  color: brown;
  text-decoration: none;
  font-size: 24px;
  text-align: left;
}
.listas{
  text-align: left;
  padding: 20px;
} 
ul{
  text-align: left;
  color: brown;
  font-size: 20px;
  padding: 10px;
}
li a{
 color: brown;
 text-decoration: none;
 line-height: 1.5;
 margin-left: 15px;
 padding: 10px;
 
}
li a:hover{
  color: rgb(81, 120, 2);
}
menu-item{
  display: flex;
  justify-content: center;
  
}
.video{
  padding: 20px;
  margin-left: 15%;

}
.livros{
  list-style: none ;
}
